body{
    background:#ffffff;
    color:#1a1a1a;
    font-family:Arial,sans-serif;
}

header{
    background:#ffffff;
    border-bottom:2px solid #E10600;
}

.logo h1{
    color:#E10600;
}

nav a{
    color:#1a1a1a;
}

nav a:hover{
    color:#E10600;
}

.card{
    background:#ffffff;
    border:2px solid #E10600;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.btn{
    background:#E10600;
    color:#ffffff;
    border-radius:10px;
}

.btn:hover{
    background:#B30000;
}

section{
    background:#F5F5F5;
}